<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity
    Name="044341e7-4a4c-457e-b38a-da5806f9195b"
    Version="1.0.0.0"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />

  <Properties>
    <DisplayName>Warp</DisplayName>
    <Description>http://ie.microsoft.com/testdrive/Graphics/Warp</Description>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>package\logo50x50.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application  
      Id="x044341e7y4a4cy457eyb38ayda5806f9195bx"
      StartPage="source\Category\DemoFolder\Default.html">

      <m2:VisualElements
        DisplayName="Warp"
        Description="Warp"
        ForegroundText="dark"
        BackgroundColor="#00abdc"
        Square150x150Logo="package\logo150x150.png"
        Square30x30Logo="package\logo30x30.png"
        >

        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>

        <m2:SplashScreen Image="package\splashscreen.png" />

      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>